@media (max-width: 1024px) {
    .list {
        gap: 25px;
    }
    .header__icons {
        gap: 25px;
    }
    /* Footer section */
    .footer__list-item {
        margin-bottom: 20px;
    }
    .footer__list-link {
        font-size: 16px;
    }
    .form-text {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .form-input {
        width: 300px;
        margin-bottom: 20px;
        & input {
            font-size: 16px;
            padding-left: 20px;
            padding-right: 20px;
        }
        & button {
            padding: 20px 25px;
        }
    }
    .social-icons {
        gap: 15px;
    }
    .payment-card {
        width: 45px;
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 5px 28px;
    }
    .btn-big {
        font-size: 20px;
        line-height: 24px;
        padding: 14px 80px;
    }
    header {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .list {
        display: none;
    }
    .header__burger {
        display: block;
    }
    .header__icons {
        display: none;
    }
    .header__icons-mobile {
        display: flex;
    }

    /* hero section */
    .hero {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 60px;
    }
    .hero__title {
        font-size: 40px;
        margin-bottom: 7px;
    }
    .hero__text {
        font-size: 22px;
        margin-bottom: 42px;
    }

    /* Popular section */
    .popular {
        margin-bottom: 60px;
    }
    .popular__head {
        margin-bottom: 30px;
    }
    .popular__cards {
        gap: 10px;
    }
    .popular__card {
        min-height: 350px;
    }
    .popular__card:first-child {
        background-size: 300px;
        background-position-y: 10px;
    }
    .popular__card-info {
        bottom: 20px;
        left: 20px;
    }
    .card-text {
        margin-bottom: 10px;
    }

    /* New products section */
    .new-products {
        margin-bottom: 60px;
    }
    .new-products__title {
        margin-bottom: 31px;
    }
    .new-products__slider {
        gap: 10px;
    }
    .slider__info {
        padding: 15px;
    }
    .slider__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .slider__price {
        font-size: 20px;
    }
    .slider__card-button {
        bottom: 15px;
        right: 15px;

        width: 36px;
        height: 36px;

        & .icon {
            font-size: 18px;
        }
    }
    .slider-arrows {
        & .arrow {
            width: 36px;
            height: 36px;
            font-size: 20px;
        }
    }

    /* Single section */
    .single-product {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 90px;
    }
    .single__title {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .single__text {
        font-size: 22px;
        margin-bottom: 30px;
    }

    /* Variety section */
    .variety {
        margin-bottom: 60px;
    }
    .variety__wrapper {
        gap: 10px;
    }
    .variety__card {
        & img {
            margin-bottom: 10px;
        }
    }
    .variety__type {
        font-size: 20px;
    }

    /* Kids section */
    .kids {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .kids__title {
        font-size: 40px;
    }
    .kids__text {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .kids__buttons {
        gap: 10px;
        & .btn {
            padding: 14px 30px;
        }
    }

    /* Footer section */
    footer {
        padding-top: 55px;
    }
    .footer__list-item {
        margin-bottom: 10px;
    }
    .footer__list-link {
        font-size: 14px;
    }
    .form-text {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .form-input {
        width: 250px;
        margin-bottom: 10px;
        & input {
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
        }
        & button {
            padding: 15px 20px;
        }
    }
    .social-icons {
        gap: 10px;
    }
    .footer__bottom {
        padding: 14px 0;
    }
    .footer__address {
        font-size: 14px;
    }
    .footer__copyright {
        font-size: 14px;
        margin-left: 20px;
    }
}

@media (max-width: 426px) {
    header {
        padding: 0;
    }
    .header__icons-mobile {
        gap: 35px;
    }
    .header-logo {
        width: 38px;
    }

    /* hero section */
    .hero__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 21.5px;
        letter-spacing: 0px;
        margin-bottom: 8px;
    }
    .hero__text {
        font-size: 12px;
        margin-bottom: 28px;
        letter-spacing: 0;
    }
    .btn-big {
        font-size: 14px;
        line-height: 16px;
        padding: 12px 38px;
    }
    .hero {
        padding-top: 58px;
        padding-bottom: 58px;
        margin-bottom: 77px;
    }

    /* popular section */
    .popular__head {
        margin-bottom: 20px;
    }
    .popular__title {
        font-size: 22px;
        line-height: 26.25px;
        font-weight: 700;
    }
    .popular__buttons {
        gap: 0px;
        & button {
            width: 40px;
            height: 40px;
            font-size: 20px;
        }
    }
    .full-wrapper {
        width: 100%;
    }
    .popular__cards {
        gap: 0;
        overflow-x: scroll;
    }
    .popular__card {
        flex: auto;
        flex-shrink: 0;
        width: 100%;
        transition: 0.2s;
    }

    /* new products section */
    .slider__title {
        font-size: 18px;
        line-height: 21.5px;
        margin-bottom: 17px;
    }
    .slider__card-button {
        bottom: 18px;
        right: 26px;
        width: 56px;
        height: 56px;
        & .icon {
            font-size: 22px;
        }
    }

    /* new products */
    .new-products__slider {
        flex-direction: column;
    }

    /* footer section */
    footer {
        display: none;
    }
}

@media (max-width: 320px) {
}
