@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #f6f6f6;
}
img {
    display: block;
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.btn {
    border: none;
    outline: none;
    padding: 6px 34px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    background-color: white;
    color: black;
    line-height: 19px;
    cursor: pointer;
    transition: 0.1s;
}
.btn:hover {
    filter: brightness(90%);
}
.btn:active {
    scale: 0.98;
}
.btn-big {
    font-size: 22px;
    line-height: 26px;
    padding: 18px 90px;
}
.btn-black {
    background-color: black;
    color: white;
}

/* header */
header {
    & .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.list {
    display: flex;
    align-self: flex-end;
    gap: 50px;
    list-style-type: none;
    width: fit-content;
}
.list-item {
    border-bottom: 2px solid transparent;
    padding-bottom: 28px;
}
.list-item:hover {
    border-bottom: 2px solid black;
}
.list-item:hover .list-link {
    color: #000000;
    opacity: 100%;
}
.list-link {
    color: #000000;
    opacity: 40%;
    text-decoration: none;
    font-weight: 500;
}
.header-logo {
    width: 50px;
    align-self: center;
}
.header__icons {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 17px;
    padding-bottom: 17px;
}
.icon {
    font-size: 24px;
}

.profile-img {
    border-radius: 100%;
    width: 46px;
    height: 46px;
}

/* hero section */
.hero {
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 163px;
    padding-bottom: 163px;
    margin-bottom: 100px;
}
.hero__title {
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -2px;
    color: white;
    margin-bottom: 10px;
}

.hero__text {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -2px;
    color: white;
    margin-bottom: 62px;
}

/* Popular section */
.popular {
    margin-bottom: 100px;
}
.popular__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.popular__buttons {
    display: flex;
    align-items: center;
    gap: 18px;

    & button {
        width: 60px;
        height: 60px;
        cursor: pointer;
        font-size: 24px;
        border: none;
        outline: none;
        background-color: transparent;
    }

    & button:hover {
        border: 1px solid gray;
    }

    & button:active {
        scale: 0.97;
    }
}

.popular__title {
    font-size: 40px;
    line-height: 47px;
    font-weight: 500;
    text-transform: uppercase;
}
.popular__cards {
    display: flex;
    gap: 18px;
    justify-content: space-between;
}
.popular__card {
    flex: 1;
    min-height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #fff;
}

.popular__card:first-child {
    background-image: url(images/popular1.jpg);
    background-size: 460px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 14px;
}
.popular__card:last-child {
    background-image: url(images/popular2.jpg);
    color: white;
}

.popular__card-info {
    width: fit-content;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 4px;
}
.card-text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}

/* New products section */
.new-products {
    margin-bottom: 100px;
}
.new-products__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 41px;
}
.new-products__slider {
    display: flex;
    gap: 14px;
    position: relative;
}
.slider__info {
    padding: 20px;
    background-color: #fff;
    position: relative;
}
.slider__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
}
.slider__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
.slider__card-button {
    position: absolute;
    bottom: 20px;
    right: 20px;

    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: background 0.3s;
}
.slider__card-button:hover {
    background-color: #000;

    & .icon {
        color: white;
    }
}
.slider__card-button:active {
    scale: 0.96;
}

.slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;

    & .fa-angle-left {
        left: 0;
        transform: translateX(-50%);
    }
    & .fa-angle-right {
        right: 0;
        transform: translateX(50%);
    }
    & .arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        border-radius: 100%;
        font-size: 24px;
        background-color: #fff;
        box-shadow: 0px 2px 2px 0px rgba(222, 222, 222, 0.53);
        cursor: pointer;
    }
    & .arrow:hover {
        filter: brightness(90%);
    }
    & .arrow:active {
        scale: 0.97;
    }
}

/* Single section */
.single-product {
    background-image: url(images/single-bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 130px;
    padding-bottom: 130px;

    margin-bottom: 180px;
}
.single__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.single__text {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -2px;
    margin-bottom: 70px;
}

/* Variety section */
.variety {
    margin-bottom: 100px;
}
.variety__wrapper {
    display: flex;
    gap: 14px;
}
.variety__card {
    & img {
        margin-bottom: 28px;
    }
}
.variety__type {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.64px;
}

/* Kids section */

.kids {
    background-image: url(images/kids-bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 136px;
    padding-bottom: 136px;
}
.kids__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -2px;
    color: white;
    margin-bottom: 10px;
}
.kids__text {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -2px;
    color: white;
    margin-bottom: 65px;
}
.kids__buttons {
    display: flex;
    gap: 20px;

    & .btn {
        padding: 18px 50px;
    }
}

/* Footer section */
footer {
    background-color: #fff;
    padding-top: 95px;
}
.footer__top {
    display: flex;
    justify-content: space-between;
}
.footer__list {
    list-style: none;
}
.footer__list-item {
    margin-bottom: 30px;
}
.footer__list-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.5px;
    letter-spacing: -1px;
}
.footer__top > form {
    width: min-content;
}
.form-heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 26.25px;
    letter-spacing: -2px;
    margin-bottom: 10px;
}
.form-text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-wrap: balance;
}
.form-input {
    border: 2px solid black;
    display: flex;
    width: 365px;
    margin-bottom: 30px;
    & input {
        width: 75%;
        border: none;
        outline: none;
        font-size: 18px;
        line-height: 21.5px;
        letter-spacing: -1px;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 25px;
    }
    & button {
        width: 25%;
        background-color: black;
        border: none;
        outline: none;
        padding: 22px 25px;
    }
}
.social-icons {
    display: flex;
    gap: 29px;
}
.social-icon {
    width: 24px;
    height: 24px;
}

.footer-line {
    height: 1px;
    background-color: #efefef;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.footer__address {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    line-height: 21.5px;
}
.footer__copyright {
    font-size: 18px;
    line-height: 21.5px;
    opacity: 0.4;
    margin-right: auto;
    margin-left: 30px;
}
.footer__payments {
    display: flex;
    gap: 17px;
}
.payment-card {
    width: 50px;
}
